@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap');

/* จัดการ tag*/
@tailwind base;
/* จัดการ class*/
@tailwind components;
/* ปรับแต่ง class*/
@tailwind utilities;



@layer base {
    html {
        font-family: 'Roboto', sans-serif;
    }

    input {
        width: 100%;
        padding: 0.8rem 0.8rem;
        font-size: 14px;
        border: 1px solid #c0c0c0;
        border-radius: 5px;
        outline: none;
    }

}

@layer components {
    .form-input {
        display: flex;
        flex-direction: column;
        margin-bottom: 0.8rem;
    }

    .button-container {
        width: 100%;
        color: #fff;
        background-image: linear-gradient(to left bottom, #a855f7, #b552f6, #c14ef4, #cd4af2, #d946ef);
        padding: 0.5rem 0.8rem;
        border-radius: 25px;
    }

    .button-container:hover {
        background: rgb(168, 85, 247);
    }

    .button-container:active {
        background: rgb(147, 51, 234);
    }
}