@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap');

/* จัดการ tag*/
@tailwind base;
/* จัดการ class*/
@tailwind components;
/* ปรับแต่ง class*/
@tailwind utilities;



@layer base {
    * {
        font-family: 'Roboto', sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;

    }

    body {

        margin: auto;
    }



    input {
        width: 100%;
        font-size: 14px;
        outline: none;
    }

}

@layer components {
    .form-input {
        margin-bottom: 0.8rem;
    }

    /* ------------ NavbarPage in Navrbar folder ------------ */
    .navbar-li-mobile {
        display: block;
        padding: 0.5rem 0 0.5rem 0.75rem;
        color: #FFF;
        border-radius: 0.25rem;
    }

    .navbar-li-mobile:hover {
        border: 1px solid rgb(251, 191, 36);
    }


    /* ------------ HomeComponent in HomePage folder ------------ */
    .home-background {
        width: 100%;
    }

    .home-background-img {
        width: 100%;
        height: 360px;
        object-fit: cover;
        filter: brightness(.5);
    }

    /* ------------ Swiper for ShopHomeComponent in HomePage folder------------ */
    .slide-bg-image {
        background-image: url("https://images.unsplash.com/photo-1578662996442-48f60103fc96?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        width: 100%;
        
    }

    .swiper {
        width: 350px;
    }


    .swiper-slide {
        background-position: center;
        background-size: cover;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
    }

    /* ------------ LayoutProfile Component in ProfilePage folder ------------*/
    .menu-mobile {
        width: 100%;
        text-align: center;
        padding: 1rem;

    }

    .menu-mobile:hover {
        color: rgb(147, 51, 234);
    }

    /* ------------ Payment component ------------ */
    .payment-method-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border: 1px solid rgb(156 163 175);
        border-radius: 5px;
        padding: 0.5rem 0;
        cursor: pointer;
    }

        /* ------------ Form Credit Card component ------------ */

    .title-credit-cards{
        font-size: 14px;
    }
    .form-credit-cards{
        border: 1px solid rgb(156 163 175);
        border-radius: 5px;
        padding: 0.3rem 0.5rem;
    }
    .form-credit-cards:focus{
        border: 1px solid #000;
    }

    /* ------------ Dashboard Component ------------*/
    /* ----- Dashboard Sidebars Component -----*/
    .sidebar_container {
        width: 45px;
        height: 92vh;
        overflow-y: auto;
        background: linear-gradient(to right, #5B21B6, #4C1D95, #5B21B6);
        transition: all 0.1s ease-out;
    }
    
    .sidebar_container:hover {
        width: 230px;
       transition: all 0.2s ease-in;
    }

    .menu-sidebar-container {
        display: flex;
        color: rgb(226 232 240);
    }

    .menu-sidebar-container:hover {
        color: #fff;
        transition: 300 ease-in-out;
        border-radius: 0.5rem;
        background-color: rgb(30 41 59);
        cursor: pointer;
    }

    .menu-sidebar-inside {
        display: flex;
        align-items: center;
        padding: 0.75rem 0.5rem;
    }

    .icons-sidebar {
        font-size: 1.2rem;
        line-height: 2rem;
        margin-right: 0.75rem;
    }

    .text-sidebar {
        font-size: 1rem;
        font-weight: 300;
        line-height: 1.75rem;
        color: #fff;
    }

    .sidebar-dropdown-container {
        display: flex;
        padding: 0.75rem 0.5rem;
        color: rgb(226 232 240);

    }

    .sidebar-dropdown-container:hover {
        color: #fff;
        transition: 300 ease-in-out;
        border-radius: 0.5rem;
        background-color: rgb(30 41 59);
        cursor: pointer;
    }

    .sidebar-dropdown-button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .sidebar-dropdown-li {
        display: flex;
        padding: 0.75rem 0.5rem;
        color: rgb(226 232 240);
    }

    .sidebar-dropdown-li:hover {
        color: #fff;
        transition: 300 ease-in-out;
        border-radius: 0.5rem;
        background-color: rgb(30 41 59);
        cursor: pointer;
    }

    /* ------------ Management component in dashboard ------------*/
    .manage_input {
        border: 1px solid rgb(209, 213, 219);
        border-radius: 0.25rem;
        padding: 0.35rem;
        appearance: none;
        outline: none;
    }

    .manage_input:focus {
        border: 1px solid rgb(55, 65, 81);


    }

}