@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap');

/* จัดการ tag*/
@tailwind base;
/* จัดการ class*/
@tailwind components;
/* ปรับแต่ง class*/
@tailwind utilities;



@layer base {
    * {
        font-family: 'Roboto', sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }



    input {
        width: 100%;
        font-size: 14px;
        outline: none;
    }

}

@layer components {
    .form-input {
        display: flex;
        flex-direction: column;
        margin-bottom: 0.8rem;
    }

    /* ------------ NavbarPage in Navrbar folder ------------ */
    .navbar-li-mobile{
        display: block;
        padding: 0.5rem 0 0.5rem 0.75rem;
        color: #FFF;
        border-radius: 0.25rem;
    }
    .navbar-li-mobile:hover{
        border: 1px solid rgb(168, 85, 247);
    }
    

    /* ------------ HomeComponent in HomePage folder ------------ */
    .home-background {
        width: 100%;
    }

    .home-background-img {
        width: 100%;
        height: 480px;
        object-fit: cover;
        filter: brightness(.5);
    }

    /* ------------ Swiper for ShopHomeComponent in HomePage folder------------ */
    .slide-bg-image {
        background-image: url("https://images.unsplash.com/photo-1578662996442-48f60103fc96?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        width: 100%;
        padding: 2rem;
    }

    .swiper {
        width: 350px;
    }


    .swiper-slide {
        background-position: center;
        background-size: cover;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
    }

    /* ------------ LayoutProfile Component in ProfilePage folder ------------*/
    .menu-mobile {
        width: 100%;
        text-align: center;
        padding: 1rem;
   
    }

    .menu-mobile:hover {
        color: rgb(147, 51, 234);
    }

}